.tjs-container { position: relative; width: 100%; height: 100%; overflow: hidden; box-sizing: border-box;
                 background-color: #F0F0F0;
                 -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
               }

.tjs-container .tjs-mini                  { width: 100%; position: absolute; bottom: 0; left: 0; line-height: 0; background-color: #FCFCFC; cursor: move; }
.tjs-container .tjs-mini path.tjs-items   { stroke: #FEA; shape-rendering: crispEdges; }
.tjs-container .tjs-mini .viewfield       { fill: #08D; fill-opacity: 0.1; stroke: #08E; stroke-width: 1px; shape-rendering: crispEdges; }
.tjs-container .tjs-mini .axis .tick text { font-family: "Roboto Light"; }

.tjs-container .tjs-main                  { width: 100%; height: 100%; overflow: auto; font-family: Roboto, sans-serif; }
.tjs-container .tjs-main .tjs-item rect,
.tjs-container .tjs-main .tjs-item circle { fill: #FD5; }
.tjs-container .tjs-main .tjs-item circle { stroke: #C92; }
.tjs-container .tjs-main .tjs-item text   { font-size: 12px; }
.tjs-container .tjs-main .axis .tick text { font-family: "Roboto Light"; }
.tjs-container .tjs-main .axis .tick line { stroke-width: 1px; shape-rendering: crispEdges; stroke: #000; }
.tjs-container .tjs-main .tjs-grid .tick line { stroke-width: 1px; stroke: rgba(0,0,0,0.05); shape-rendering: crispEdges; }
